<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shousi.mapper.AlbumStatMapper">

    <resultMap id="BaseResultMap" type="com.shousi.entity.AlbumStat">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="albumId" column="album_id" jdbcType="BIGINT"/>
            <result property="statType" column="stat_type" jdbcType="VARCHAR"/>
            <result property="statNum" column="stat_num" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,album_id,stat_type,
        stat_num,create_time,update_time,
        is_deleted
    </sql>
    <select id="getAlbumStatInfo" resultType="com.shousi.vo.AlbumStatVo">
        select MAX(IF(info.statType = '0401', info.statNum, 0)) as playStatNum,
               MAX(IF(info.statType = '0402', info.statNum, 0)) as subscribeStatNum,
               MAX(IF(info.statType = '0403', info.statNum, 0)) as buyStatNum,
               MAX(IF(info.statType = '0404', info.statNum, 0)) as commentStatNum
        from (select stat.album_id  as albumId,
                     stat.stat_type as statType,
                     stat.stat_num  as statNum
              from album_stat stat
              where album_id = #{albumId}) info
        group by info.albumId
    </select>
</mapper>
