<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shousi.mapper.BaseCategoryViewMapper">

    <resultMap id="BaseResultMap" type="com.shousi.entity.BaseCategoryView">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="category1Id" column="category1_id" jdbcType="BIGINT"/>
            <result property="category1Name" column="category1_name" jdbcType="VARCHAR"/>
            <result property="category2Id" column="category2_id" jdbcType="BIGINT"/>
            <result property="category2Name" column="category2_name" jdbcType="VARCHAR"/>
            <result property="category3Id" column="category3_id" jdbcType="BIGINT"/>
            <result property="category3Name" column="category3_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category1_id,category1_name,
        category2_id,category2_name,category3_id,
        category3_name,create_time,update_time,
        is_deleted
    </sql>

    <resultMap id="categoryMap" type="com.shousi.vo.CategoryVo">
        <id property="categoryId" column="category1Id"/>
        <result property="categoryName" column="category1Name"/>
        <collection property="categoryChild" ofType="com.shousi.vo.CategoryVo">
            <id property="categoryId" column="category2Id"/>
            <result property="categoryName" column="category2Name"/>
            <collection property="categoryChild" ofType="com.shousi.vo.CategoryVo">
                <id property="categoryId" column="category3Id"/>
                <result property="categoryName" column="category3Name"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getAllCategoryList" resultMap="categoryMap">
        SELECT c1.id category1Id,
        c1.NAME category1Name,
        c2.id category2Id,
        c2.NAME category2Name,
        c3.id category3Id,
        c3.NAME category3Name
        FROM base_category1 c1
        LEFT JOIN base_category2 c2 ON c1.id = c2.category1_id
        LEFT JOIN base_category3 c3 ON c2.id = c3.category2_id
        <where>
            <if test="category1Id != null">
                and c1.id = #{category1Id}
            </if>
        </where>
    </select>
</mapper>
