<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shousi.mapper.TrackInfoMapper">

    <resultMap id="BaseResultMap" type="com.shousi.entity.TrackInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="albumId" column="album_id" jdbcType="BIGINT"/>
            <result property="trackTitle" column="track_title" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="trackIntro" column="track_intro" jdbcType="VARCHAR"/>
            <result property="trackRichIntro" column="track_rich_intro" jdbcType="VARCHAR"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="mediaDuration" column="media_duration" jdbcType="DECIMAL"/>
            <result property="mediaFileId" column="media_file_id" jdbcType="VARCHAR"/>
            <result property="mediaUrl" column="media_url" jdbcType="VARCHAR"/>
            <result property="mediaSize" column="media_size" jdbcType="BIGINT"/>
            <result property="mediaType" column="media_type" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="CHAR"/>
            <result property="isOpen" column="is_open" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,album_id,
        track_title,order_num,track_intro,
        track_rich_intro,cover_url,media_duration,
        media_file_id,media_url,media_size,
        media_type,source,is_open,
        status,create_time,update_time,
        is_deleted
    </sql>

    <select id="findUserTrackPage" resultType="com.shousi.vo.TrackTempVo">
        select
        any_value(d.albumId) as albumId,
        d.albumTitle,
        d.trackId,
        d.trackTitle,
        d.coverUrl,
        d.mediaDuration,
        d.status,
        d.createTime,
        MAX(IF(d.statType = '0701', d.statNum, 0)) as playStatNum,
        MAX(IF(d.statType = '0702', d.statNum, 0)) as collectStatNum,
        MAX(IF(d.statType = '0703', d.statNum, 0)) as praiseStatNum,
        MAX(IF(d.statType = '0704', d.statNum, 0)) as commentStatNum
        from (SELECT
        c.id AS albumId,
        c.album_title AS albumTitle,
        a.id AS trackId,
        a.track_title AS trackTitle,
        a.media_duration AS mediaDuration,
        IF( a.cover_url IS NULL OR a.cover_url = '', c.cover_url, a.cover_url ) AS coverUrl,
        a.STATUS,
        a.create_time AS createTime,
        b.stat_type AS statType,
        b.stat_num AS statNum
        FROM
        track_info a
        LEFT JOIN track_stat b ON a.id = b.track_id
        LEFT JOIN album_info c ON a.album_id = c.id
        <where>
            <if test="trackInfoQuery.userId != null">
                and a.user_id = #{trackInfoQuery.userId}
            </if>
            <if test="trackInfoQuery.trackTitle != null and trackInfoQuery.trackTitle != ''">
                and a.track_title like CONCAT('%',#{trackInfoQuery.trackTitle},'%')
            </if>
            <if test="trackInfoQuery.status != null and trackInfoQuery.status != ''">
                and a.status = #{trackInfoQuery.status}
            </if>
            and a.is_deleted = 0
        </where>
        ) d
        GROUP BY d.trackId
        ORDER BY d.createTime desc
    </select>
</mapper>
