<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shousi.mapper.UserAccountMapper">

    <resultMap id="BaseResultMap" type="com.shousi.entity.UserAccount">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="lockAmount" column="lock_amount" jdbcType="DECIMAL"/>
            <result property="availableAmount" column="available_amount" jdbcType="DECIMAL"/>
            <result property="totalIncomeAmount" column="total_income_amount" jdbcType="DECIMAL"/>
            <result property="totalPayAmount" column="total_pay_amount" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,total_amount,
        lock_amount,available_amount,total_income_amount,
        total_pay_amount,create_time,update_time,
        is_deleted
    </sql>
</mapper>
